<div class="alert alert-danger" ng-show="page_load_error">{{ page_load_error }}</div>

<div ng-show="!finished_loading">
    <h4 style="color: #aaaaaa"> Loading ... please wait a moment </h4>
</div>

<div ng-show="finished_loading">
    <p>Filter list: <input ng-model="searchFor" size="30"/></p>

    <div class="row">
        <div ng-repeat="ski_resort in ski_resorts | filter:searchFor | orderBy: 'type'"
             class="ski_resort col-sm-4 col-md-2">
            <div class="thumbnail">

                <img ng-src= "../../images/{{ ski_resort.image_name }}" alt="Zermatt" class="img-thumbnail">

                <div class="caption">
                    <a href ng-href="#/ski_resorts/{{ ski_resort.ski_resort_id }}" >
                        <h3>{{ ski_resort.name }} ({{ ski_resort.country}})</h3>
                    </a>
                    <p>...</p>
                </div>
            </div>
        </div>
    </div>

    <div style="clear: left"></div>

    <p> There are {{ ski_resorts.length }} ski resorts so far!</p>

</div>
