<div class="alert alert-danger" ng-show="page_load_error">{{ page_load_error }}</div>

<div ng-show="!finished_loading">
    <h4 style="color: #aaaaaa"> Loading ... please wait a moment </h4>
</div>

<div ng-show="finished_loading">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="row carousel-holder">
                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div ng-repeat="ski_resort in ski_resorts | filter:searchFor | orderBy: 'type'"
                         class="ski_resort col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="../../images/val_thorens.jpg" alt="">
                            <!--img ng-src="../../images/{{ ski_resort.image_name }}" alt="{{ ski_resort.name }}" class="img-thumbnail"-->
                            <div class="caption">
                                <h4>
                                    <a href ng-href="#/ski_resorts/{{ ski_resort.ski_resort_id }}">{{ ski_resort.name }}
                                        ({{ ski_resort.country}})</a>
                                </h4>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">{{ ski_resort.ratings.length || 0 }} ratings</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
