<div class="alert alert-danger" ng-show="page_load_error"> {{ page_load_error }}</div>

<div ng-show="!finished_loading">
    <h4 style="color: #aaaaaa"> Loading ... please wait a moment </h4>
</div>

<div ng-show="finished_loading">

    <div class="page-header">
        <h1>{{ ski_resort.name }} <span class='smaller lighter'>({{ ski_resort.country }})</span></h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div style="float: right">Serves: {{ ski_resort.serves }}</div>
            <div><strong>Preparation Time</strong>: {{ ski_resort.preparation_time }} minute(s)</div>
        </div>
        <div class="panel-body"> {{ ski_resort.summary }}</div>
    </div>

    <div class="bs-callout bs-callout-info">
        <h4>Ingredients</h4>
        <ul>
            <li ng-repeat="ingredient in ski_resort.ingredients">{{ ingredient }}</li>
        </ul>
    </div>

    <div class="bs-callout bs-callout-info" style="margin-top: 30px">
        <h4>Preparation</h4>
        <p class="preparation" style='font-family: Helvetica'> {{ ski_resort.preparation }} </p>
    </div>
</div>
